data/alignment/mocheg/*.json filter=lfs diff=lfs merge=lfs -text
data/alignment/finfact/*.json filter=lfs diff=lfs merge=lfs -text
data/alignment/factify/*.json filter=lfs diff=lfs merge=lfs -text
data/sample_results/*.json filter=lfs diff=lfs merge=lfs -text
